.chips{
    height: 16px;
    float: left;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    border:1px solid gray;
    padding:8px;
    font-weight: bold;
    color:black;
}

.chips.on{
    background-color: green;
    color:white;
}


.sliderContainer{
    border:1px solid #c5c5c5;
    padding:10px;
    border-radius: 10px;
    margin:10px;
}
.sliderContainer .ui-slider{
    float:left;
    width:calc(100% - 170px);
    margin-top:10px;
    margin-left:10px;
}
.sliderContainer .ui-spinner {
    float:left;
    width:150px
}

